.App {
	font-size: calc(10px + 2vmin);
	background-color: #282c34;
	color: white;
	min-height: 100vh;
	color: #61dafb;
	font-size: 20px;
}
.Home {
	h1 {
		text-align: center;
	}
	.company-wrapper {
		background-color: white;
		color: #282c34;
		border-radius: 0.25rem;
		width: 20rem;
		margin: 1rem auto;
		padding: 1.2rem 1rem;
		cursor: pointer;
	}
}
